body {
  font-family: "Nanum Gothic", sans-serif;
  background-image: url("images/darksky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  border-radius: 10px;
  margin: 80px auto;
  max-width: 80%;
  padding: 0;
}

.search-box {
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
}

.search-bar {
  text-align: center;
  border: 1px solid gray;
  border-radius: 20px;
  width: 40%;
  margin: 10px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  text-align: left;
  padding-left: 20px;
}

input[type="text"]::placeholder {
  text-align: left;
  padding-left: 0;
}

input[type="text"]:focus {
  outline: none;
}

.search-button {
  border: none;
  background-color: rgb(211, 120, 35);
  color: whitesmoke;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  padding: 6px 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 4px;
  transition: all 200ms ease-in-out;
}

.current-button {
  border: none;
  background-color: rgb(13, 17, 68);
  color: whitesmoke;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  padding: 6px 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 4px;
  transition: all 200ms ease-in-out;
}

.fa-magnifying-glass {
  font-size: 14px;
  font-weight: 400;
}

.search-button:hover {
  background-color: rgb(161, 64, 8);
  color: white;
}

p {
  margin: 10px auto;
  color: white;
}

i {
  font-size: 28px;
  color: white;
}

.second-container {
  border: none;
  margin-top: 50px;
}

.city {
  font-size: 68px;
  font-weight: 800;
  color: white;
}

.precipitation,
.humidity,
.wind {
  text-align: right;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.description {
  text-align: center;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.day-time {
  text-align: center;
  font-size: 14px;
  color: white;
}

.day-small,
.temp-small {
  font-size: 20px;
  font-weight: 700;
}

.temperature-celcius {
  font-size: 36px;
  font-weight: 700;
}

.coded-by {
  font-size: 12px;
  text-align: center;
  color: hotpink;
}

p a {
  color: pink;
}
